aws_region               = "us-east-1"
project_name              = "monitoramento-medico-multimodal"
environment               = "dev"
iam_user_name             = "monitoramento-medico-app"
enable_bucket_versioning  = false
object_expiration_days    = 30
budget_limit_usd          = 5
budget_alert_email        = "seu-email@exemplo.com"
